{% extends 'devops/base.html' %}

{% block title %}
Edit "{{ post.title }}"
{% endblock %}

{% block header %}
    <h1>Edit "{{ post.title }}"</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ post.title }}" required>
        <label for="body">Body</label>
        <textarea name="body" id="body">{{ post.body }}</textarea>
        <input type="submit" value="Save">
    </form>
    <form action="{% url 'delete' post_id=post.id %}" method="post">
        {% csrf_token %}
        <input class="danger" type="submit" value="Delete" onclick="return confirm('确定删除博客吗?');">
    </form>
{% endblock %}
